@font-face {
  font-family: 'Roobert';
  src: local('Roobert'), url(./fonts/Roobert-Heavy.otf) format('truetype');
}

@font-face {
  font-family: 'Calibre-Bold';
  src: local('Calibre-Bold'), url(./fonts/Calibre-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'Calibre-Regular';
  src: local('Calibre-Regular'), url(./fonts/Calibre-Regular.otf) format('truetype');
}

html{
  height: 100%;
}

body {
  margin: 0;
  /*font-family: Calibre-Regular, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #F5F5F5;
  color: #2F2F2F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
